:root {
  --danger: #e91e63;
  --darkColor: #121212;
  --darkColor-2: #242627;
  --darkColor-3: #212529;
  --lightColor: #fff;
}

.bg-danger {
  background-color: var(--danger) !important;
}

nav .navbar-brand,
nav .nav-link {
  color: var(--lightColor);
}

body.darkMode {
  background-color: var(--darkColor);
}

body.darkMode .pagination .page-item {
  color: var(--danger) !important;
}

body.darkMode .card {
  background-color: var(--darkColor-2);
  color: var(--lightColor);
}