:root {
  --danger: #e91e63;
  --darkColor: #121212;
  --darkColor-2: #242627;
  --darkColor-3: #212529;
  --lightColor: #fff;
}

.bg-danger {
  background-color: var(--danger) !important;
}

nav .navbar-brand,
nav .nav-link {
  color: var(--lightColor);
}

body.darkMode {
  background-color: var(--darkColor);
}

body.darkMode .bg-primary {
  background-color: var(--danger) !important;
}

body.darkMode #post-header {
  color: var(--lightColor);
}

body.darkMode #tag-modal .modal-content {
  background-color: var(--darkColor-2);
  color: var(--lightColor);
}

body.darkMode #tag-modal .btn-outline-primary {
  border-color: var(--lightColor);
  color: var(--lightColor);
}

body.darkMode #post-pagination .page-item:not(.disabled) .page-link {
  color: var(--danger);
}

body.darkMode #post-pagination .page-item.active .page-link {
  background-color: var(--danger) !important;
  border-color: var(--danger);
  color: var(--lightColor);
}

body.darkMode #post-card {
  background-color: var(--darkColor-2);
}

body.darkMode #post-card a,
body.darkMode #post-card .card-footer {
  color: var(--lightColor) !important;
}
